[Unit]
Description=AzerothCore PlayerBots world server
Requires=mysql.service
After=mysql.service network-online.target azerothcore-auth.service
Wants=network-online.target azerothcore-auth.service
PartOf=azerothcore.target

[Service]
Type=simple
User=ditrain
Group=ditrain
WorkingDirectory=/mnt/data/wow-server/source/env/dist/bin
ExecStart=/mnt/data/wow-server/source/env/dist/bin/worldserver --config /mnt/data/wow-server/source/env/dist/etc/worldserver.conf
Restart=on-failure
RestartSec=5s
KillSignal=SIGTERM
TimeoutStopSec=5min
UMask=0027
